body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

h1 {
    font-size: 24px;
    color: #555;
}

main {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 60%;
}

.simple-button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.simple-button:hover {
    background: #0056b3;
}

.simple-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

img {
    border-radius: 10px;
    width: 300px;
}
